input,
label {

  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.3em;
  margin-left: 0.3em;


}

input{
  border: none;
  border-bottom: 2px solid green;
}

body {
  background-color: lightgoldenrodyellow;
}

#resultado {

  margin-top: 1em;
  margin-bottom: 1em;
  adding: 10px 32px;
  color: green;
  font-weight:normal;
}

.centrado {

  padding: 70px 0;
  text-align: center;
  font-size: 16px;
  font-family:Arial;
  font-weight:600;

}

.oculto {

  visibility: hidden;

}

.formulario-dinamico {

  transform: translate(-0.8%);

}

.botones {

  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:Arial;
  font-weight:600;
  margin-right: 0.3em;
  margin-left: 0.3em;

}

.error {
border: 2px solid red;
}
